* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 80vmax;
  height: 100vh;
  padding: 100px 5vw 0;
}

.column-left {
  width: 300px;
}

.header {
  display: flex;
  margin-bottom: 70px;
}
.header img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
.header span {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.header p:first-child {
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 15px;
}
.header p:last-child {
  font-size: 15px;
  color: #a1a1a1;
}

.option-list-items li {
  border-radius: 10px;
  display: flex;
  padding: 15px;
  align-items: center;
  margin: 5px 0;
  width: 200px;
  height: 50px;
  font-size: 14px;
}
.option-list-items li:hover:not(.li-clicked) {
  background-color: #eee;
}
.li-clicked {
  background-color: #ffeed6;
  color: #ff9500;
}
.option-list-items svg {
  margin-right: 5px;
}

section {
  margin-left: 5vmax;
  width: 50vmax;
}
section h1 {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
section p {
  margin: 10px 0;
  font-size: 15px;
  color: #888888;
}

.option-details-container {
  overflow: hidden;
  margin: 50px 0; 
  /* border-radius: 10px; */
  /* border: #cdcdcd 1px solid; */
  width: 55vw;
}

.options-details-section {
  border-radius: 10px;
  border: #cdcdcd 1px solid;
}

.options-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.options-header span {
  padding-left: 30px;
  padding-right: 80px;
  font-size: 15px;
  font-weight: bold;
}

.list-item {
  display: flex;
  padding-left: 20px;
  height: 60px;
  align-items: center;
  border-bottom: #e2e2e2 1px solid;
}

.options-items img {
  width: 20px;
  height: 20px;
}

.list-item div {
  overflow-wrap: anywhere;
  margin-left: 10px;
  text-align: left;
  line-height: 50px;
  font-size: 15px;
}
.list-item div:first-child {
  width: 130px;
}

.list-item input {
  /* flex-grow: 20%; */
  width: 23vw;
  height: 30px;
  padding: 8px 10px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  line-height: 50px;
  font-size: 15px;
}

.list-item select {
  width: 7vw;
  height: 30px;
  margin-left: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.list-item input:focus,
textarea:focus,
select:focus {
  border-color: #ff9500;
  /* color: #ff9500; */
  outline: none;
  box-shadow: 0 0 4px #ff9500aa;
}

.list-item:last-child {
  border: none;
}

.options-add-button {
  background-color: #fff;
  /* color: #ff9500; */
  border: 1px solid #c8c8c8;
  width: 100px;
  height: 35px;
  line-height: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.options-add-button:hover {
  color: #ff9500;
  border: 1px solid #ff9500;
  background-color: #ffeed6;
}

.list-item .save-button {
  flex-grow: 20%;
  border: none;
  background: none;
  margin: 5px 0 5px 13px;
  cursor: pointer;
}

.prompt-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  padding: 10px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.editing {
  margin-right: 40px;
}
.prompt-setting:hover:not(.editing) {
  background-color: #eee;
  cursor: pointer;
}

.list-item-expanded {
  display: flex;
  padding: 10px;
  height: 450px;
}

.list-item-expanded div:first-child {
  width: 23vw;
}

.prompt-block {
  /* margin: 10px; */
  width: 35vw;
  margin: 0 2vw;
}

.prompt-details {
  border: #cdcdcd 1px solid;
  border-radius: 6px;
  padding: 5px;
  width: 22vw;
  height: 380px;
  resize: none;
  white-space: nowrap;
}
